@model AgentClient.ViewModel.MissionVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MissionVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentNickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentNickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MissionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MissionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionTimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionTimeLeft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
